<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/resume.css" />
    <title>My Resume</title>
  </head>
  <body>
    <nav id="navbar">
      <header>About Me</header>
      <ul>
        <li><a class="nav-link" href="#cover-letter">Cover Letter</a></li>
        <li>
          <a class="nav-link" href="#resume">My Resume</a>
        </li>
        <li>
          <a class="nav-link" href="#highlights">Objects and Highlights</a>
        </li>
        <li><a class="nav-link" href="#skills">Technical Skills</a></li>
        <li><a class="nav-link" href="#education">Education</a></li>
        <li>
          <a class="nav-link" href="#works">Projects and Works</a>
        </li>
        <li><a class="nav-link" href="#work-exp">Work Experience</a></li>
        <li>
          <a class="nav-link" href="#info">Additional Infomation</a>
        </li>
      </ul>
    </nav>
    <main id="main-doc">
      <section class="main-section" id="cover-letter">
        <header>Cover Letter</header>
        <br />
        <br />
        <article>
          <strong>Dear Hiring Manger:</strong>
          <br />
          <br />
          <p>
            Thank you for taking time to review my application. I am writing to
            show my interest in the Co-op positions posted on SenecaWorks. I
            would like to have the opportunity to join your organization and
            work with those professionals. I am a positive and diligent
            individual with a strong interest in IT and programming, and I am
            confident that my efforts will benefit your company.
          </p>
          <p>
            I have been received extensive trainings from both college program
            and self-study. I established a broad and robust basis for
            programming through my past studies, focusing on four aspects:
          </p>
          <ul>
            <li>
              Programming foundations and object-oriented programming using
              C/C++
            </li>
            <li>
              Database management and architecture using SQL, Oracle, and
              MongoDB
            </li>
            <li>
              Front-end and back-end web development skill sets and frameworks
            </li>
            <li>
              Other industrial knowledge including SDLC, network-security, data
              communication
            </li>
          </ul>
          <p>
            I have had strong academic record in the past semesters with an
            overall GPA of 4.0 and President’s Honor List recognition each
            semester. I am also learning and practicing from other courses
            outside school to improve my skills and keep up with the latest IT
            trends.
          </p>
          <p>
            Before switching to the IT field, I had a good academic background
            in business and worked as a human resources manager. I believe that
            my skills, as well as my prior experience would be beneficial to
            your team. And I look forward to hearing from you soon! Thank you
            for taking the time to read this.
          </p>
          <br />
          <p>Sincerely,</p>
          <br />
          <strong>Siran Cao</strong>
        </article>
      </section>
      <br />
      <hr />
      <br />
      <section class="main-section" id="resume">
        <header>My Resume</header>
        <br />
        <br />
        <article>
          <h2>Siran Cao</strong></h2>
          <p>37 Jaffna Ln, Markham, ON L6C 0X7</p>
          <p>
            (647) 764-1309 | siranchao@gmail.com | LinkedIn: <a href="https://www.linkedin.com/in/siran-chao/" target="_blank">Siran Cao</a> | GitHub:
            <a href="https://github.com/siranchao" target="_blank">siranchao</a>
          </p>
        </article>
      </section>
      <br />
      <section class="main-section" id="hightlights">
        <article>
          <h2>Objective:</h2>
          <p>Seeking an IT related Coop opportunity in a competitive business environment where I can contribute my knowledge, sharpen my skills, and gain further industrial experience.</p>
          <br />
          <h2>Highlights:</h2>
          <ul>
            <li>
              Five years of experience in tech companies specialized in HR functions
            </li>
            <li>
              Good at strategic planning, analyzing, and project management
            </li>
            <li>
              Solid academic performance with overall GPA 4.0 in computer programming
            </li>
            <li>
              Able to work under pressure and adapt fast-changing environment
            </li>
            <li>
              Supportive team player, good communication and collaboration skills
            </li>
          </ul>

        </article>
      </section>
      <br />
      <section class="main-section" id="skills">
        <article>
          <h2>Technical Skills:</h2>
          <table>
            <tr>
              <td>Programming Languages</td>
              <td>C, C++, JavaScript</td>
            </tr>
            <tr>
              <td>Database Management</td>
              <td>SQL, OracleSQL, PostgreSQL, MongoDB</td>
            </tr>
            <tr>
              <td>Web Development</td>
              <td>HTML5, CSS, JavaScript (ES6), Bootstrap, node.js, express.js</td>
            </tr>
            <tr>
              <td>Operating System</td>
              <td>Windows, Linux/Unix</td>
            </tr>
            <tr>
              <td>Other Tools</td>
              <td>Git, Visual Studio, MS Office, Heroku</td>
            </tr>
          </table>
        </article>
      </section>
      <br />
      <section class="main-section" id="education">
        <article>
          <h2>Education:</h2>

          <h3>Computer Programming and Analysis Diploma: <span>2021 - Present</span></h3>
          <p>Seneca College, Toronto, Canada</p>
          <ul>
            <li>Relevant courses: Programming foundations using C/C++, Object-oriented programming, Database management using SQL and Oracle, Front-end/back-end web dev, TCP/IP data communication, and Cyber security etc.</li>
            <li>President’s Honor List Summer 2021</li>
            <li>President’s Honor List Fall 2021</li>
          </ul>

          <h3>Master of Business in International Business: <span> 2013 - 2015</span></h3>
          <p>University of Queensland, Brisbane, Australia</p>
  
          <h3>Bachelor of Business Management in Marketing: <span> 2009 - 2013</span></h3>
          <p>University of Queensland, Brisbane, Australia</p>
        </article>
      </section>
      <br />
      <section class="main-section" id="works">
        <article>
          <h2>Projects:</h2>
          <h3>Personal Portfolio Webpage</h3>
          <p>url: <a href="https://codepen.io/siranchao/pen/eYGobqy" target="_blank">https://codepen.io/siranchao/pen/eYGobqy</a></p>
          <ul>
            <li>A fully functional website displayed a portfolio of my works (mini projects & apps). Using HTML, CSS, JavaScript, Git, Heroku etc.</li>
          </ul>

          <h3>Personal Portfolio Webpage</h3>
          <p>url: <a href="https://github.com/siranchao/OOP244/tree/main/Final_Project" target="_blank">https://github.com/siranchao/OOP244/tree/main/Final_Project</a></p>
          <ul>
            <li>Using C++ and object-oriented programming skills to create a simple C++ application simulates the library system. The app can search, add, and modify library loans by CLI</li>
          </ul>

          <h3>Mini HR Management Program </h3>
          <p>url: <a href="https://github.com/siranchao/DBS211/tree/main/Final_Project" target="_blank">https://github.com/siranchao/DBS211/tree/main/Final_Project</a></p>
          <ul>
            <li>Developed a simple application using C++ and Oracle OCCI to build connection and interact with database. Use SQL to query employee information, able to search, add, and modify database </li>
          </ul>
        </article>
      </section>
      <br />
      <section class="main-section" id="work-exp">
        <article>
          <h2>Work Experience:</h2>
          <h3>Human Resource Manager (HR Business Partner): <span> 2017 - 2019</span></h3>
          <p>Trip.com – Accommodation Business Group, Shanghai, China </p>
          <ul>
            <li>Supported HR operations for oversea business with over 600 employees across 16 countries. Achieved 97.5% recruitment target and two consecutive year double-digit growth </li>
            <li>Analyzed monthly & quarterly talent reviews and performance assessments</li>
            <li>Implemented C&B policies, salary framework, and incentive plans; reduced HR expenses by 12% </li>
            <li>Collaborated and managed employee relations, 30+ compliance cases resolved</li>
            <li>Operated HRIS and initiated weekly and monthly data analysis</li>
          </ul>

          <h3>HR Project Manager: <span> 2016 - 2017</span></h3>
          <p>Envision Group, Shanghai, China	</p>
          <ul>
            <li>Specialized in company’s annual campus recruitment project and trainee program</li>
            <li>Initiated and completed full-life cycle recruiting and training process for 430 new grads in total</li>
          </ul>

          <h3>Human Resource Specialist: <span> 2015 - 2017</span></h3>
          <p>Envision Group, Shanghai, China	</p>
          <ul>
            <li>HRIS development including recruiting system deployment and maintenance</li>
            <li>Monitored and operated official SNS accounts and online assessment system</li>
            <li>Designed and implemented training programs and corporate cultural events</li>
          </ul>
        </article>
      </section>
      <br/>
      <section class="main-section" id="info">
        <article>
          <h2>Additional Information:</h2>
          <p>Interests: Cooking, video gaming and pets</p>
          <p>Citizenship: Permanent Resident</p>
          <p>Language: English, Mandarin </p>
        </article>
      </section>
      <br/>
      <hr/>
      <br/>
      <div id="buttons">
        <button class="btn"><a href="/download-cv">Download Resume</a></button>
        <button class="btn"><a href="/download-cl">Download Cover Letter</a></button>
        <button class="btn"><a href="/">Back to Homepage</a></button>
      </div>
    </main>

  </body>
</html>
